@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-bg: #000000;
  --main-font-color: #ffffff;
  --border-color: #2f3235;
  --border-Outline: 1px solid #2f3235;
  --main-btn-color: #ffcb70;
  --text-color-grey: #6c747c;
  --trends-for-you: #0e1012;
  --border-main-body: #3d4145;

  --twitter-logo-clr: #d9d9d9;
  --right-side-window-clr: rgb(18, 21, 23);
  --right-layout-meta-font: rgb(145, 156, 166);
  --user-accent-clr: rgb(255,235,107);
  --right-layout-button-bg: #eff3f4;

  --bottom-message-border-clr: rgb(61, 65, 69);

  background-color: var(--main-bg);
}

.layout {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 251px auto 350px;
  column-gap: 20px;
  max-width: 1200px;
  height: 100vh;

  
}

.layout__main {
  margin-left: 0;
  margin-right: 0;

  border-left: 1px solid var(--border-main-body);
  border-right: 1px solid var(--border-main-body);
}

.layout__left-sidebar {
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.layout__right-sidebar {
  position: fixed;
  width: 350px;
}








